# Next application origin url
NEXTAUTH_URL=
# Nextauth
NEXTAUTH_SECRET=

# Next auth (auth0) providers credentials
GOOGLE_PROVIDER_ID=
GOOGLE_PROVIDER_SECRET=
GITHUB_PROVIDER_ID=
GITHUB_PROVIDER_SECRET=

# Firebase configuration
NEXT_PUBLIC_FIREBASE_CONFIG=