.emoji-mart-dark {
  color: var(--text);
  border-color: var(--terciary) !important;
}

.emoji-mart {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  font-size: 16px;
  display: inline-block;
  color: var(--placeholder);
  border: 1px solid var(--text);
  border-radius: 5px;
  background: var(--primary) !important;
}

.emoji-mart-dark .emoji-mart-bar {
  border-color: var(--terciary) !important;
}

.emoji-mart-dark .emoji-mart-search input {
  color: var(--text) !important;
  border: none !important;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: var(--secondary) !important;
}

.emoji-mart-dark .emoji-mart-category-label span {
  background-color: transparent !important;
  color: var(--text) !important;
  text-decoration: underline;
}

.emoji-mart-dark .emoji-mart-skin-swatches {
  border-color: var(--terciary) !important;
  background-color: var(--secondary) !important;
}

.emoji-mart-anchor {
  color: #aaaaaa !important;
}

.emoji-mart-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  margin-right: 2px;
}
.emoji-mart-scroll::-webkit-scrollbar:vertical {
  width: 8.5px;
}
.emoji-mart-scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}
.emoji-mart-scroll::-webkit-scrollbar-button {
  display: none;
}
.emoji-mart-scroll::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 10px;
}
.emoji-mart-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
